.container {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.midleLeft {
  height: 100%;
  width: 50%;
  border-right: 1px solid darkblue;
}

.midleRight {
  height: 100%;
  width: 50%;
}
